.current {
    display: flex;
}
.todayContainer {
    height: 7rem;
}

.extrasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updatesToday {
    display: flex;
}