.current {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 100%;
    margin-left: 1rem;
    gap: 0.2rem;
  }

.currentTimeText {
    width: 100%;
    text-align: center;
    margin-bottom: 0.3rem;
    white-space: nowrap;         /* Prevent text wrapping */
    font-size: min(0.9rem, 100%);
}

.todayContainer {
    height: 7rem;
    width: 7rem;
    margin: 0.5rem 0 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nowIcon {
    background-color: #e9e7e7;
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px 1px #c7c4c4;
    aspect-ratio: 1;
}

.currentWeatherText {
    font-size: min(0.7rem, 80%);
    white-space: nowrap;
}

.extrasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: auto;
}

.updatesToday {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    gap: 0.1rem;
}

.tempWindContainer {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
    margin: 0.2rem 0 0.5rem;
}

.temp {
    align-self: flex-end;
    font-size: min(1.3rem, 100%);
    white-space: nowrap;
}