.current {
  display: flex;
  justify-content: center;
  gap: 0.2em;
}

.currentTimeText {
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 1em;
  transform: translateY(-0.3em);
}

.todayContainer {
  height: 7em;
  width: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  justify-content: flex-start;
}

.nowIcon {
  background-color: #e9e7e7;
  width: 5em;
  height: 5em;
  box-shadow: 0 1px 2px 1px #c7c4c4;
}

.currentWeatherText {
  font-size: 1.2em;
  white-space: nowrap;
  padding: 0.2em;
}

.extrasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.7em;
}

.updatesToday {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5em;
}

.tempWindContainer {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  height: 2.3em;
  width: 100%;
  margin-bottom: 0.5em;
}

.temp {
  align-self: flex-end;
  font-size: 1.3em;
  white-space: nowrap;
}
