.weekDaysContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.7em;

}

.weekDays {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekday {
  height: 4em; /* Using em instead of rem to scale with parent */
  width: 4em;
  
  background-color: #e9e7e7;
  margin-top: 0.3rem;
  box-shadow: 0 1px 2px 1px #c7c4c4;
}

.weekDateText {
  white-space: nowrap;
  font-size: 1.2em;
}
