.weatherContainer {
  height: 8rem;
  width: 100%;
  /* todayContainer: 7rem, extrasContainer: 8rem margins/gaps: 1rem weekdays: 4rem x 5 (20rem) margins/gaps: 1rem = 37*/
  max-width: 43rem;
  display: flex;
  gap: 0.3rem;
}
